<div class="col-lg-6">
<img src="/goride.png" class="clear">
<h1> Go Rider On Boarding Form</h1>
</div>
<div class="panel-default">
<div class="panel-body col-lg-6 center">
<%= form_for(@user) do |f| %>
  <div class="field form-group">
    <%= f.label :first_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>
  <br>

  <div class="field form-group">
    <%= f.label :last_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>
  <br>

  <div class="field form-group">
    <%= f.label :age, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :age, class: 'form-control' %>
    </div>
  </div>
  <br>

  <div class="field form-group">
    <%= f.label :gender, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :gender, class: 'form-control' %>
    </div>
  </div>
  <br>

  <div class="field form-group ">
    <%= f.label :profile_image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10 btn btn-default btn-file">
      <%= f.file_field :profile_image, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group clear">
    <%= f.label :license_image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10 btn btn-default btn-file">
      <%= f.file_field :license_image, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
</div>
</div>
